<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список команд</title>
</head>
<body>

<h1>Список команд</h1>

{% block content %}
    <ul>
        {% for team in teams %}
            <li>
                <div>
                    {{ team.id }}: {{ team.name }}
                </div>

                <div>
                    <p><b>Соревнования:</b></p>
                    <ul>
                        {% for tournament in team.tournaments.all %}
                            <li>{{ tournament.id }}: {{ tournament.name }}</li>
                        {% endfor %}
                    </ul>

                    <p><b>Игроки:</b></p>
                    <ul>
                        {% for player in team.players.all %}
                            <li>{{ player.id }}: {{ player.name }}</li>
                        {% endfor %}
                    </ul>
                </div>

            </li>
        {% endfor %}
    </ul>

{% endblock %}

</body>
</html>